@font-face {
    font-family: "Splatfont2";
    src: local("Splatfont2"),
     url("./../fonts/Splatfont2.ttf") format("truetype");
    font-weight: light;
    font-style: normal;
}

form {
    background-color: #434371;
    padding: 1vw;
    border-right: 3px solid black;
    height: 100%;
    width: 19%;
    font-family: Splatfont2;
    display: flex;
    position: fixed;
    flex-direction: column;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}
  
input[type=checkbox] {
    accent-color: #70ee9c;
}

label {
    color: #79aea3;
}

h2 {
    color: #70ee9c;
}

.filterbtn {
    height: 3vw;
    width: fit-content;
    margin-top: 2vh;
    background-color: #79aea3;
    border: 3px solid black;
    font-family: Splatfont2;
    height: 40px;
}

.filterbtn:hover {
    height: 3vw;
    width: fit-content;
    margin-top: 2vh;
    color: #70ee9c;
    background-color: #434371;
    border: 3px solid black;
    height: 40px;
}