body {
  background-color: #f2f2f2;
}

.seating-map {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.seat {
  width: 110px;
  height: 90px;
  border: 1px solid #333;
  background-color: #fff;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.2s;
}

.seat:hover {
  background-color: #b3ffd3;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button {
  border: solid 1px #333;
  background-color: #fff;
  padding: 15px 32px;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-left: 10px;
  margin-right: 10px;
  width: 170px;
}

#button:hover {
  background-color: #b3ffd3;
}

#box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}