.header {
    width: 100%;
    background-color: #041F1E;
    margin: auto;
    margin-bottom: 3%;
}

.button {
    background-color: #8BB174;
    color: #041F1E;
    height: 50px;
    width: 15%;
    margin: 5%;
    border-color: #8BB174;
}

.button:hover {
    background-color: #1E2D2F;
    color: #ACE894;
}

body {
    background-color: #7F6779;
}

table {
    background-color: #9E7682;
    margin: auto;
}

table, th, td {
    border: 5px solid #4D4861;
    border-collapse: collapse;
}

th {
    font-size: 1.5vw;
}

td {
    font-size: 1.5vw;
}

thead tr td {
    font-size: 25px;
    font-weight: bolder;
}

.Insert-Container {
    background-color: #32292F;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 35%;
    padding: 3%;
    display: flex;
    flex-direction: row;
    box-shadow: 10px black;
    border-radius: 7%;
}

.row {
    display: flex;
    flex-direction: row;
    background-color: #575366;
    padding: 2%;
}

.row p {
    width: 15vw;
    color: black;
    font-size: 125%;
}

.row input {
    width: 100%;
    margin: 5%;
}

#submitBTN {
    background-color: #32292F;
    color: white;
    border-radius: 7%;
    height: 50px;
    width: 60%;
    margin: auto;
    border-color: #32292F;
}

#submitBTN:hover {
    background-color: #1E2D2F;
    color: #ACE894;
}