.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    background-color: #1B1B1E;
    padding: 3%;
    color: #D8DBE2;
    margin-top: 5%;
}

.label {
    font-size: 150%;
    padding: 1%;
    margin: 1%;
}

.input {
    margin: 1%;
    margin-bottom: 3%;
    padding: 1%;
    font-size: 125%;
}

.submit {
    width: 25%;
    padding: 2%;
    margin: auto;
    background-color: #32936F;
    border: #32936F;
    font-size: 125%;
}

p {
    margin: auto;
    padding: 2%;
    font-size: 125%;
}

span {
    color: #32936F;
    border-bottom: 1px solid #32936F;
    font-weight: 1000;
}

h1 {
    margin: auto;
    color: #D8DBE2;
}

.error-message {
    margin: auto;
}