body {
    background-color: #373F51;
}

.Header {
    display: flex;
    background-color: #1B1B1E;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 7vw;
}

.SearchBar {
    border: 5px #1B1B1E;
    padding: 1vw;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 40%;
    margin: auto;
}

.resultImage {
    height: 11vw;
    width: 16vw;
    cursor: pointer;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.resultContainer {
    display: flex;
    flex-direction: column;
    background-color: #232834;
    border-radius: 15px;
    width: 80%;
}

.courseContainer {
    flex-direction: column;
    display: flex;
    background-color: #232834;
    height: 100%;
    padding: 3%;
    border-radius: 15px;
    width: 90%;
}

h2 {
    max-width: fit-content;
    display: flex;
    color: #D8DBE2;
    background-color: #1B1B1E;
    border-radius: 15px;
    padding: 3%;
}

.row-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

li {
    list-style-type: none;
}

.result {
    background-color: #1B1B1E;
    margin: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}

.resultTitle {
    font-size: 150%;
    display: flex;
    font-size: 2vw;
    margin-left: 15px;
    cursor: pointer;
    color: #D8DBE2;
}

.resultTime {
    font-size: 125%;
    display: flex;
    margin-left: 15px;
    font-size: 2.5vh;
    cursor: pointer;
    color: #D8DBE2;
}

.column {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.smuggledData {
    display: none;
}

/* THE WALL - THE WALL - THE WALL - THE WALL - THE WALL - THE WALL - THE WALL - THE WALL - THE WALL */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #32936F;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
    display: flex;
    flex-direction: row;
} 

.popup-image {
    height: 70%;
    width: 70%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.courseTopnav {
    display: flex;
    flex-direction: row;
}