.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: background-color 0.3s;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 56px;
    right: 20px;
    background-color: #333;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    list-style: none;
    z-index: 101;
  }
  
  .menu.open {
    display: flex;
  }
  
  .menu ul {
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    margin: 10px 0;
    font-size: 18px;
    color: #fff;
  }
  
  .hamburger-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    z-index: 102;
  }
  
  .bar {
    width: 30px;
    height: 4px;
    background-color: #fff;
    transition: transform 0.3s;
  }
  
  .bar.open {
    transform: rotate(45deg);
  }
  