.side-panel {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .words {
    display: flex;
    max-width: fit-content;
    max-height: fit-content;
  }

  .words2 {
    display: flex;
    justify-content: center;
  }

  .side-panel.collapsed {
    height: 0;
  }
  
  .side-panel:not(.collapsed) {
    height: 100%;
  }
  
  .side-panel p {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
    display: block;
    transition: 0.3s;
    width: 230px;
    height: 100%;
    margin: 0;
  }

  .side-panel p:hover {
    color: #58A4B0;
    border-bottom: 2px solid #58A4B0;
    transition: 0.3s;
  }
  
  
  .side-panel button:hover {
    background-color: #555;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    z-index: 2;
  }

  .closebtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }